<%- include('../layouts/head') %>
<%- include('../layouts/header') %>

<div class="container u-mgy-50">
    <div class="row">
        <div class="col-8">
            <%- include('../components/article-list', {
                articles: listPost
            }) %>
        </div>

        <div class="col-4">
            <%- include('../components/category') %>
        </div>
    </div>
</div>

<%- include('../layouts/foot') %>
